
<!DOCTYPE html>

<html lang="en" ng-app="pangramCreator">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="description" content="John Stoecker, pangram creator"/>
<meta name="keywords" content="john, stoecker, pangram, creator"/>
<meta name="classification" content="public"/>
<meta name="resource-type" content="document"/>
<meta name="author" content="johnstoecker.com"/>
<meta name="copyright" content="johnstoecker.com"/>
<link rel="stylesheet" href="assets/main.css" type="text/css" media="all"/>

<script src="assets/jquery-2.2.1.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="assets/main.js"></script>
<title>pangram Creator</title>
</head>
<body>
<div class="pangram-container" ng-controller="pangramCreatorController">
  <div class="pangram-definition-container">
    <div class="pangram-title">pan·gram</div>
    <div class="pangram-pronunciation">/'pangram/</div>
    <div class="pangram-pos">noun</div>
    <div class="pangram-definition">a sentence or verse that contains all the letters of the alphabet.</div>
  </div>
  <div class="word-bank">
    <div class="word-bank-letter" ng-repeat="letter in wordBank" ng-bind="letter">
    </div>
  </div>
  <div class="pangram-length" ng-show="wordBank.length==0">
    Your pangram length is: {{ pangram.length }}
  </div>
  <div class="pangram-input">
    <img class="caret-input" src="assets/caret.png"/>
    <input id="pangrammer" type="text" ng-model="pangram"/>
  </div>
  <div class="used-letters">
    <div class="used-letter-container" ng-repeat="(letter,letterCount) in usedLetterCount">
      <div class="used-letter" ng-bind="letter"></div>
      <div class="used-letter-count" ng-bind="letterCount"></div>
    </div>
  </div>
</div>
</body>
</html>
