
<!DOCTYPE html>

<html lang="en" ng-app="panagramCreator">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="description" content="John Stoecker, panagram creator"/>
<meta name="keywords" content="john, stoecker, panagram, creator"/>
<meta name="classification" content="public"/>
<meta name="resource-type" content="document"/>
<meta name="author" content="johnstoecker.com"/>
<meta name="copyright" content="johnstoecker.com"/>
<link rel="stylesheet" href="assets/main.css" type="text/css" media="all"/>

<script src="assets/jquery-2.2.1.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="assets/main.js"></script>
<title>Panagram Creator</title>
</head>
<body>
<div ng-controller="PanagramCreatorController">
  <div class="word-bank">
    <span class="word-bank-letter" ng-repeat="letter in wordBank" ng-bind="letter">
    </span>
  </div>
  <div class="panagram-length" ng-show="wordBank.length==0">
    Your panagram length is: {{ panagram.length }}
  </div>
  <div class="panagram-input">
    <img class="caret-input" src="assets/caret.png"/>
    <input id="panagrammer" type="text" ng-model="panagram"/>
  </div>
</div>
</body>
</html>
