html, body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
}
.pangram-definition-container {
  margin: 10px;
}
.pangram-title {
  font-size: 36px;
  font-weight: bold;
}
.pangram-pronunciation {
  font-size: 24px;
}
.pangram-pos {
  font-style:italic;
}
.pangram-container {
  margin-top: 100px;
}
.word-bank-letter {
  padding: 5px 8px;
  border: 1px solid black;
}
.pangram-input {
  margin-top: 15px;
}
.caret-input {
  vertical-align: middle;
  height:20px;
  width:20px;
}
#pangrammer {
  width: 630px;
  border: 0px;
  height: 20px;
}
